</head>
<h1>Listado de Familiares</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Fecha_Nacimiento</th>
      </tr>
    </thead>
    <tbody>
        {% for familiar in familia %}
        
      <tr>
        <th scope="row">{{familiar.id}}</th>
        <td>{{familiar.nombre}}</td>
        <td>{{familiar.apellido}}</td>
        <td>{{familiar.dni}}</td>
        <td>{{familiar.fec_nac}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>